@font-face {
    font-family: Play-Bold;
    src: url(/fonts/Play-Bold.ttf);
    src: url(/fonts/Play-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: Play-bold, sans-serif; 
    text-rendering: optimizeLegibility;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header"
    "section aside"
    "footer footer";
    grid-template-rows: 10% 1fr 28%;
    grid-template-columns: 1fr 35%;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
}

header div a {
    margin-right: 30px;
    text-decoration: none;
}

header div a p{
    font-size: 15px;
    color: black;
}

section {
    grid-area: section;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

section div {
    align-content: center;

}

section div h1 {
    text-align:center;
}
section div h2 {
    text-align:center;
}

section div p {
    margin: 30px 20%;
    text-align:center;
}

aside {
    grid-area: aside; 
    margin-top: 2%;
    margin-bottom: 2;
    display: flex;
    align-items: center;
}

.container-video iframe {
    width: 450px;
    height: 300px;
    display: flex;
    align-items: center;
    margin-right: 15%;
}

footer {
    grid-area: footer;
    background-color: hsla(31, 2%, 11%, 1) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #0b3d91;
}

footer .contact {
    align-content: center;
    margin-left: 50px;
}

footer div ul li {
    color: aliceblue;
    list-style:none;
    margin-block: 12px;
}

footer div p {
    font-size: 12px;
    color: rgba(128, 129, 131, 0.548);
    margin-top: 30px;
}

.adress-map {
    width: 50;
    height: 50;
    margin-right: 50px;
}